VITE_API_URL=http://localhost:5000/api
VITE_BUSINESS_EMAIL=samkazokav1181@gmail.com
VITE_BUSINESS_PHONE=+919313217425
VITE_WHATSAPP_NUMBER=919313217425
VITE_BUSINESS_ADDRESS=Dayaji Park Shop No. 62, Opposite BRTS Workshop, Opposite National Kabadi Market No. 5, Narol, Ahmedabad
